<div class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input type="text" class="new-todo" autofocus autocomplete="off"
      [(ngModel)]="newTodoText" (keyup.enter)="addTodo()">
  </header>

  <section class="main" *ngIf="todoService.todos.length > 0">
    <input type="checkbox" id="toggle-all" class="toggle-all"
      #toggleAll
      [checked]="todoService.allCompleted()"
      (click)="todoService.setAllTo(toggleAll.checked)">
    <label for="toggle-all"></label>

    <ul class="todo-list">
      <li *ngFor="let todo of todoService.todos"
        [class.completed]="todo.completed"
        [class.editing]="todo.editing"
      >
        <div class="view">
          <input type="checkbox" class="toggle"
            (click)="todoService.toggleCompletion(todo)"
            [checked]="todo.completed">
          <label (dblclick)="editTodo(todo)">{{ todo.title }}</label>
          <button class="destroy" (click)="todoService.removeTodo(todo)"></button>
        </div>
        <input type="text" class="edit"
          *ngIf="todo.editing"
          [value]="todo.title"
          #editingTodo
          (blur)="todoService.stopEditingTodo(todo, editingTodo.value)"
          (keyup.enter)="todoService.updateEditingTodo(todo, editingTodo.value)"
          (keyup.escape)="todo.editing=false">
      </li>
    </ul>
  </section>

  <footer class="footer" *ngIf="todoService.todos.length > 0">
    <span class="todo-count">
      <strong>{{ todoService.getRemaining().length }}</strong> left
    </span>
    <button class="clear-completed"
      *ngIf="todoService.getCompleted().length > 0"
      (click)="todoService.removeCompleted()"
    >
      Clear Completed
    </button>
  </footer>
</div>